In [1]:
import io
import fitz  
import pytesseract
from PIL import Image


pdf_document = "abdul_hafeez (1).pdf"
pdf = fitz.open(pdf_document)

# Extract image from the first page of the PDF
page = pdf[0]
image_list = page.get_images(full=True)
xref = image_list[0][0]

base_image = pdf.extract_image(xref)
image_bytes = base_image["image"]


image = Image.open(io.BytesIO(image_bytes))

# Use pytesseract to extract text from the image
extracted_text = pytesseract.image_to_string(image)

In [2]:
import re



# Vendor Name
vendor_name_match = re.search(r"Supplier\s*\n\n\[(.*?)\.", extracted_text, re.DOTALL)
vendor_name = vendor_name_match.group(1).strip() if vendor_name_match else None



# Invoice Date
invoice_date_match = re.search(r"DC Date\s*(\d{2}/\d{2}/\d{4})", extracted_text)
invoice_date = invoice_date_match.group(1) if invoice_date_match else None

# Invoice Number
invoice_number_match = re.search(r"S\.T\. INV\. #\s*(\d{4}/\d{6})", extracted_text)
invoice_number = invoice_number_match.group(1) if invoice_number_match else None


# Invoice Amount 
invoice_amount_match = re.search(r"Total\s*[\d,]+ o\|\s*([\d,]+)", extracted_text)
invoice_amount = invoice_amount_match.group(1) if invoice_amount_match else None

# PO Number
po_number_match = re.search(r"(PO-\d+ TO \d+)", extracted_text)
po_number = po_number_match.group(1) if po_number_match else None


# Delivery Number
delivery_number_match = re.search(r"DC No,\s+(\d+)", extracted_text)
delivery_number = delivery_number_match.group(1) if delivery_number_match else None

vendor_name, invoice_date, invoice_number, invoice_amount, po_number, delivery_number

('Abdul Hafeez Shafi Leather (Pvt) Ltd',
 '31/10/2022',
 '2022/003105',
 '91,843',
 'PO-4049425 TO 1019459',
 '0000003218')

In [3]:
import pandas as pd

# Creating a DataFrame to represent the information in table format
data = {
    "Vendor Name": [vendor_name],
    "Invoice Date": [invoice_date],
    "Invoice Number": [invoice_number],
    "Invoice Amount": [invoice_amount],
    "PO Number": [po_number],
    "Delivery Number": [delivery_number]
}

table_df = pd.DataFrame(data)
table_df

,Vendor Name,Invoice Date,Invoice Number,Invoice Amount,PO Number,Delivery Number
0,Abdul Hafeez Shafi Leather (Pvt) Ltd,31/10/2022,2022/003105,"91,843",PO-4049425 TO 1019459,0000003218